/* .box {
    background-color: #F9F9FF;
    border: 2px solid #66CCFF;
    padding: 1px;
}

.box1 {
    background-color: #F9F9FF;
    border: 2px solid #0099CC;
    padding: 1px;
}

.box2 {
    background-color: #F9F9FF;
    border: 2px solid #003399;
    padding: 1px;
} */
